* {
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
body {
  background-color: #27AE60;
}
.danger-border {
  border-color: #D9534F !important;
}
.control {
  padding: 20px;
  text-align: right;
}
.control button {
  color: white;
  font-size: 0;
  text-decoration: none;
  margin: 0 10px;
  border: 0;
  background-color: transparent;
}
.control button span {
  font-size: 18px;
}
.control button img {
  width: 24px;
  height: 24px;
}
.search_bar {
  margin-top: 50px;
}
.search_bar .search_input {
  transition: border-color 0.2s;
  border-radius: 0;
  border-width: 3px;
  border-style: solid;
  border-color: #27AE60;
  max-width: 900px;
  height: 50px;
}
.search_bar .search_input:hover,
.search_bar .search_input:focus {
  border-color: #208D4E;
}
.SpeedDialBox {
  margin-top: 50px;
}
.SpeedDialBox .speeddial {
  position: relative;
  margin-top: 20px;
}
.SpeedDialBox .speeddial a {
  display: block;
  padding: 10px;
  background-color: white;
  height: 58px;
  line-height: 32px;
  transition: border-color 0.2s;
  border-width: 3px;
  border-style: solid;
  border-color: #27AE60;
  font-size: 0;
  color: #333;
  text-decoration: none;
  overflow: hidden;
}
.SpeedDialBox .speeddial a:hover,
.SpeedDialBox .speeddial a:focus {
  border-color: #208D4E;
  text-decoration: none;
}
.SpeedDialBox .speeddial a:hover span,
.SpeedDialBox .speeddial a:focus span {
  text-decoration: none;
}
.SpeedDialBox .speeddial a * {
  font-size: 0;
  vertical-align: middle;
}
.SpeedDialBox .speeddial a img {
  width: 32px;
  height: 32px;
  position: absolute;
}
.SpeedDialBox .speeddial a span {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 0 0 42px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.SpeedDialBox .speeddial .close_button {
  display: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 12px;
  right: 24px;
  cursor: pointer;
}
.SpeedDialBox .speeddial .close_button img {
  width: 32px;
  height: 32px;
}
