@import './variables.less';

* {
  font-family: Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color   : black;
  background-position: center center;
}

.danger-border {
  border-color: #d9534f !important;
}

.iconfont {
  font-size: 18px;
}

// 夜间模式
@media (prefers-color-scheme: dark) {
  .modal-dialog {

    .modal-header,
    .modal-footer {
      border-color: black;
    }

    .modal-content {
      color           : #eee;
      background-color: rgba(52, 52, 52, 1);
    }
  }

  .form-control {
    background-color: rgba(38, 38, 38, 1);
    border-color    : black;
    color           : #eee;

    &::placeholder {
      color: #aaa;
    }

    &:focus {
      background-color: rgba(52, 52, 52, 1);
      border-color    : black;
      color           : #eee;
    }
  }

  .topbar {
    button {
      color: #eee;

      &:hover {
        border-color: white;
        color       : white;
      }
    }
  }

  .bg {
    background-color     : rgba(52, 52, 52, 0.5);
    background-blend-mode: darken;
  }

  .search_box {
    button {
      color       : #eee;
      border-color: black;
    }
  }

  .SpeedDialBox {
    .speeddial {
      .info {
        background-color: rgba(52, 52, 52, 1);

        .block {
          .title {
            color: #eee;
          }
        }
      }

      .other {
        background-color: rgba(52, 52, 52, 1);
        border-color    : black;

        .drag {
          .drag_handle {
            color: #eee;
          }
        }
      }
    }
  }
}



.modal-dialog {
  margin-top: 200px;

  .modal-content {
    background-color: @lightBackground;
    backdrop-filter : blur(20px);

    .modal-header {
      border-bottom-color: @lightBorder;
    }

    .modal-footer {
      border-top-color: @lightBorder;
    }

    .form-control {
      backdrop-filter: none;
    }
  }
}


.form-control {
  background-color: @lightBackground;
  backdrop-filter : blur(10px);

  &:focus {
    background-color: @lightBackground;
  }
}