* {
  font-family: Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", Arial, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  background-color: #333;
  background-position: center center;
}
.danger-border {
  border-color: #d9534f !important;
}
.topbar {
  padding: 20px;
  text-align: right;
  background: linear-gradient(to bottom, rgba(1, 1, 1, 0.3), transparent);
}
.topbar button {
  color: white;
  font-size: 0;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 0;
  border: 0;
  border-bottom: 2px solid transparent;
  border-color: transparent;
  background-color: transparent;
  outline: none;
  transition: border-color 0.2s;
}
.topbar button span {
  font-size: 18px;
  vertical-align: middle;
}
.topbar button img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px;
}
.topbar button:hover {
  border-color: white;
}
.topbar button:focus {
  outline: none;
}
.search_box {
  max-width: 900px;
  padding: 0 15px;
  margin: 50px auto 0;
  position: relative;
}
.search_box .search_icon {
  position: absolute;
  left: 25px;
  top: 10px;
  width: 32px;
  height: 32px;
}
.search_box input {
  border-radius: 5px;
  max-width: 900px;
  height: 52px;
  padding-left: 60px;
}
.search_box button {
  position: absolute;
  right: 15px;
  top: 0;
  background: transparent;
  border: none;
  border-left: 1px solid #ccc;
  padding-left: 15px;
  padding-right: 18px;
  height: 52px;
}
.modal-dialog {
  margin-top: 200px;
}
@keyframes shake {
  0% {
    transform: rotate(-0.5deg);
  }
  25% {
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(-0.5deg);
  }
  75% {
    transform: rotate(0.5deg);
  }
  100% {
    transform: rotate(-0.5deg);
  }
}
.SpeedDialBox {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0 100px;
  display: flex;
  flex-wrap: wrap;
}
.SpeedDialBox .speeddial {
  transition: all 0.5s;
  position: relative;
  margin-top: 20px;
}
.SpeedDialBox .speeddial .block {
  display: flex;
  height: 52px;
  align-items: center;
  padding: 10px;
  color: #333;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  overflow: hidden;
}
.SpeedDialBox .speeddial .block:hover,
.SpeedDialBox .speeddial .block:focus {
  text-decoration: none;
  box-shadow: 0 0 20px 0 #333;
}
.SpeedDialBox .speeddial .block:hover span,
.SpeedDialBox .speeddial .block:focus span {
  text-decoration: none;
}
.SpeedDialBox .speeddial .block .icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  overflow: hidden;
}
.SpeedDialBox .speeddial .block .icon .drag_handle {
  width: 32px;
  height: 32px;
  color: #333;
  fill: #333;
}
.SpeedDialBox .speeddial .block .icon .drag_handle path {
  fill: #333;
}
.SpeedDialBox .speeddial .block .icon .icon_img {
  display: none;
  width: 32px;
  height: 32px;
  background-color: white;
}
.SpeedDialBox .speeddial .block .icon .word {
  display: inline-block;
  font-size: 24px;
  background-color: #0090ff;
  color: white;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 3px;
}
.SpeedDialBox .speeddial .block .title {
  flex: 1;
  white-space: nowrap;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.SpeedDialBox .speeddial .close_button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 24px;
  background-color: white;
  cursor: pointer;
}
.SpeedDialBox .speeddial .close_button img {
  width: 32px;
  height: 32px;
}
.my-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
